<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">



  <title>{% block title %}
  {% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

{% block style %}
{% endblock style %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">


</head>


<div id="preloader">
  <div class="education-loader">
    <img src="static\photos\иконка.png" alt="Education Icon">
  </div>
</div>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">


      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="{% block home %}
          {% endblock home %}"><a href="/">Главная</a></li>

 <li><a href="/addstudent">Студенты</a></li>
 <li><a href="/marks">Marks</a></li>
 <li><a href="/addattendance">Посещаемость</a></li>
 <li><a href="/department">Отделение</a></li>
 <li><a href="/triggers">Рекорды</a></li>
 <li><a href="/studentdetails">Сведения о студентеs</a></li>
 <li><a href="/search">Поиск</a></li>


    {% if current_user.is_authenticated  %}
          <li class="buy-tickets"><a href="">ДОБРО ПОЖАЛОВАТЬ {{current_user.username}}</a></li>
            <li class="buy-tickets"><a href="/logout">Выйти</a></li>
          {% else %}
          <li class="buy-tickets"><a href="/signup">Войти</a></li>

          {% endif %}
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
<nav>
  <ul>
    <!-- Остальные пункты меню -->
    ...

<li class="nav-item"><a href="{{ url_for('schedule') }}" class="nav-link schedule-link">Расписание</a></li>


  </ul>
</nav>


  </header><!-- End Header -->

  <!-- ======= Intro Section ======= -->
<section id="intro">
    <div class="intro-container" data-aos-delay="100">
      <h1 class="mb-4 pb-0">STUDENT MANAGEMENT SYSTEM</h1>
    </div>
</section>


<!-- Partners Section -->
<section id="partners">
  <h2>Наши партнеры</h2>
  <div class="partners-grid">
    <!-- Партнер 1 -->
    <a href="https://it-park.uz/" class="partner">
      <img src="https://api.logobank.uz/media/logos_png/IT_park-01.png" alt="IT PARK" />
    </a>
    <!-- Партнер 2 -->
    <a href="https://www.iu.org/" class="partner">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/IU_International_Hochschule_Logo_2021_inglese.png" alt="IU" />
    </a>
       <!-- Партнер 3 -->
    <a href="https://uzbektourism.uz/en" class="partner">
      <img src="https://uznature.uz/archive/img/logo-new.png" alt="Uzbekton" />
    </a>
       <!-- Партнер 4 -->
    <a href="https://akfagroup.com/" class="partner">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Akfa_logo.png" alt="Akfagroup" />
    </a>
       <!-- Партнер 5 -->
    <a href="https://oxbridgeschool.uz/" class="partner">
      <img src="https://oxbridgeschool.uz/wp-content/uploads/2023/08/logo-1.svg" alt="oxbridgeschool" />
    </a>
    <!-- Повторить для других партнеров -->
  </div>
</section>

  <main id="main">


  {% block body %}
      {% include 'chat.html' %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>


  {% endfor %}
  {% endif %}
  {% endwith %}
  {% endblock body %}


  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/superfish/superfish.min.js"></script>
  <script src="static/assets/vendor/hoverIntent/hoverIntent.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>


  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>
