{% extends 'base.html' %}

{% block title %}
Оценки Студентов
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Оценки Студентов</h2>
    {% for student in students_marks %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">Студент: {{ student.sname }} ( ID: {{ student.rollno }})</h5>
            </div>
            <div class="card-body">
                <h6 class="card-title">Семестр: {{ student.sem }}</h6>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Предмет</th>
                            <th scope="col">Оценка</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subject in student.marks %}
                            <tr>
                                <td>{{ subject.subject_name }}</td>
                                <td>{{ subject.mark }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
