{% extends 'base.html' %}
{% block title %}
Детали о Студентах
{% endblock title %}



{% block body %}
 <h3 class="text-center"><span>Student Details</span> </h3>
  
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
<br>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">SID</th>
      <th scope="col">ID NUMBER</th>
      <th scope="col">Имя студента</th>
      <th scope="col">Семестр</th>
      <th scope="col">Пол</th>
      <th scope="col">Факультет</th>
      <th scope="col">EMAIL</th>
      <th scope="col">Номер</th>
      <th scope="col">Адресс</th>


    </tr>
  </thead>
  <tbody>
  {% for post in query %}
    <tr>
      <th scope="row">{{post.id}}</th>
      <td>{{post.rollno}}</td>
      <td>{{post.sname}}</td>
      <td>{{post.sem}}</td>
      <td>{{post.gender}}</td>
      <td>{{post.branch}}</td>
      <td>{{post.email}}</td>
      <td>{{post.number}}</td>
      <td>{{post.address}}</td>
    <td>{% if is_super_user %}<a href="/edit/{{post.id}}"><button class="btn btn-primary">Изменить </button></a><a href="/delete/{{post.id}}" onclick="return confirm('Are you sure to Delete data');"><button class="btn btn-danger">Удалить </button></a>{% endif %}</td>
    </tr>
{% endfor %}
  
  </tbody>
</table>






{% endblock body %}